<div class="container">
  <h2>Search products</h2>
  <div id="custom-search-input">
    <div class="input-group col-md-12">
      <form>
        <div class="container">
          <div class="row">
            <div>
              <input type="text" name="searchText" class="form-control input-lg" placeholder="category or product">
            </div>
            <div>
              <div class="input-group-btn text-center">
                <button class="btn btn-success" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden"
          value="CfDJ8Lobh-5wPqJJnVTa5ywnYM1Lwj8-w38ciOAsrE4H38cERxjhaZsApRB6OqaqkAc3Pt0qYEA4v3iFxtEJZgd3nhap2UT_yWalDl_rRlHfZx_3vyqY5gO-i_NQLd6XW8oBvFyDSf8wyvzxhR-LBbzUNlY">
      </form>
    </div>
  </div>
</div>

<div class="container" *ngFor="let category of categories | keyvalue; let catIndex = index;">
  <h3>{{category.key}}</h3>

  <div id="carouselExampleIndicators-{{catIndex}}" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <div [ngClass]="{'carousel-item': true, 'active': pageIndex == 0}" *ngFor="let pageIndex of pageIndexes(category.value)">
        <div class="container">
          <div class="row">
            <div class="col-sm-3" *ngFor="let product of pageItems(category.value, pageIndex); let j = index;">
              <div class="card">
                <div class="card-body">
                  <span class="d-flex justify-content-center">
                    <i class="fas fa-cube fa-3x" style="color: orange;"></i>
                  </span>
                </div>
                <div class="card-footer">
                  <p class="card-text">{{product.name}}</p>
                  <h5 class="card-title text-center">{{product.price | currency}}</h5>
                  <div class="text-center">
                    <a class="btn btn-success">
                      <span class="fa fa-shopping-cart"></span>
                      Add to basket
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators-{{catIndex}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators-{{catIndex}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>