<div class="container">
<h2>Search products</h2>
<div id="custom-search-input">
  <div class="input-group col-md-12">
      <form>
          <div class="container">
              <div class="row">
                  <div>
                      <input type="text" name="searchText" class="form-control input-lg" placeholder="category or product">
                  </div>
                  <div>
                      <div class="input-group-btn text-center">
                          <button class="btn btn-success" type="submit">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Lobh-5wPqJJnVTa5ywnYM1Lwj8-w38ciOAsrE4H38cERxjhaZsApRB6OqaqkAc3Pt0qYEA4v3iFxtEJZgd3nhap2UT_yWalDl_rRlHfZx_3vyqY5gO-i_NQLd6XW8oBvFyDSf8wyvzxhR-LBbzUNlY"></form>
  </div>
</div>
</div>



<div class="container">


<h3>Fruits</h3>

<div id="carouselExampleIndicators-1" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
          
<div class="carousel-item">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Oranges</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Lemons</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Bananas</p>
      <h5 class="card-title text-center">$6.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Strawberries</p>
      <h5 class="card-title text-center">$7.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
          
<div class="carousel-item active">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Grapes</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators-1" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators-1" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


<h3>Legumes</h3>

<div id="carouselExampleIndicators-2" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
          
<div class="carousel-item">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Carrots</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Yellow peppers</p>
      <h5 class="card-title text-center">$8.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Potatoes</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Tomatoes</p>
      <h5 class="card-title text-center">$4.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
          
<div class="carousel-item active">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Eggplants</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators-2" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators-2" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


<h3>Vegetables</h3>

<div id="carouselExampleIndicators-3" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
          
<div class="carousel-item active">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Lettuce</p>
      <h5 class="card-title text-center">$7.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Broccoli</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Cauliflower</p>
      <h5 class="card-title text-center">$4.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Onion</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
          
<div class="carousel-item">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Aspargus</p>
      <h5 class="card-title text-center">$8.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators-3" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators-3" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


<h3>Grains / Beans</h3>

<div id="carouselExampleIndicators-4" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
          
<div class="carousel-item">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Rice</p>
      <h5 class="card-title text-center">$6.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Beans</p>
      <h5 class="card-title text-center">$6.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Oat</p>
      <h5 class="card-title text-center">$3.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Corn</p>
      <h5 class="card-title text-center">$3.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
          
<div class="carousel-item active">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Peas</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators-4" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators-4" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


<h3>Dairy products</h3>

<div id="carouselExampleIndicators-5" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
          
<div class="carousel-item active">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Milk</p>
      <h5 class="card-title text-center">$4.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Cheese</p>
      <h5 class="card-title text-center">$8.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Yogurt</p>
      <h5 class="card-title text-center">$6.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Butter</p>
      <h5 class="card-title text-center">$5.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
          
<div class="carousel-item">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Cream cheese</p>
      <h5 class="card-title text-center">$6.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators-5" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators-5" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


<h3>Meat &amp; eggs</h3>

<div id="carouselExampleIndicators-6" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
          
<div class="carousel-item">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Sliced ham</p>
      <h5 class="card-title text-center">$7.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Beef</p>
      <h5 class="card-title text-center">$6.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Shrimp</p>
      <h5 class="card-title text-center">$8.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Barbecue</p>
      <h5 class="card-title text-center">$6.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
          
<div class="carousel-item active">
<div class="container">
  <div class="row">
              

<div class="col-sm-3">
<div class="card">
  <div class="card-body">
    <span class="d-flex justify-content-center">
      <i class="fas fa-cube fa-3x" style="color: orange;"></i>
    </span>
  </div>
  <div class="card-footer">
      <p class="card-text">Eggs</p>
      <h5 class="card-title text-center">$4.90</h5>
      <div class="text-center">
          <a class="btn btn-success">
              <span class="fa fa-shopping-cart"></span>
              Add to basket
          </a>
      </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators-6" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators-6" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>

</div>







